@model AddEventView
@{
    ViewData["Title"] = "AddEvent";
}

<h2>AddEvent</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Create a new account.</h4>
            <hr />

            <div class="form-group">
                <label asp-for="WorkerName"></label>
            </div>
            <div class="form-group">
                <label asp-for="StartEvent"></label>
                <input asp-for="StartEvent" value="" class="form-control" />
                <span asp-validation-for="StartEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientName"></label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>


            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>